.oikotie-computed-extra-costs-wrapper {
    cursor: pointer;
    position: fixed;
    top: 5px;
    left: 5px;
    background: orange;
    color: #000;
    padding: 20px;
    font-size: 20px;
}

.oikotie-chrome-extension-notification {
    font-size: 11px;
    opacity: 0.6;
}

.oikotie-chrome-extension-notification .warning {
    background-color: red;
    color: #fff;
}

.oikotie-chrome-extension-notification .positive {
    background-color: greenyellow;
}
